# 数据集不上传
data/darts_dataset
data/yolo_dataset
data/SVHN
data/yolo_dataset_2
*.zip

# 避免再次误提交子仓库信息（如果 .git 没删干净）
model/yolov5/.git/

# Python 全局缓存
*.pyc
__pycache__/
*.cache

# VSCode/PyCharm 配置文件
.vscode/
.idea/

# macOS 系统自动生成的隐藏文件
.DS_Store
**/.DS_Store

## 模型权重文件
*.pt